.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.list-group li {
	width: 500px;
	padding: 20px 16px;
}
.todo-list {
	width: 500px;
	padding: 30px 15px;
}
.todo-input-btn {
	display: grid;
	grid-template-columns: 1fr auto;
}

.todo-input-btn button {
	cursor: pointer;
}
.contentmain-con {
	display: flex;
	flex-direction: row;
}
.container-secnd {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width:1000px){
  .contentmain-con {display: block;}
 
}
@media (max-width:768px) {
  .todo-input-btn {display: block;}
  .todo-list {width: 100%;padding: 30px 15px;}
  .list-group li { width: 100%;}
}